.card {
  background-color: white;
  display: flex;
}
.name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 5rem;
}
.basic-info {
  display: flex;
}
.basic-info-tit {
  width: 10rem;
  font-size: 1.3rem;
  font-weight: 400;
  //   text-align: end;
  line-height: 2rem;
  padding-left: 2rem;
}
.basic-info-titl {
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 1rem;
  line-height: 2rem;
}
